.footer {
  background: #020617;
  border-top: 1px solid #1e293b;
}

.footer-inner {
  max-width: 1100px;
  margin: auto;
  padding: 2rem 1.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer a {
  color: #cbd5f5;
  text-decoration: none;
}

.footer a:hover {
  color: #38bdf8;
}
