<footer class="footer">
  <div class="container">
    <p>© {{ currentYear }} Mayank Aggarwal</p>
        <div class="footer-links">
      <a
        href="assets/resume/Mayank_Aggarwal.pdf"
        download
        (click)="trackResumeDownload()"
      >
        📄 Download Resume
      </a>

      <a
        href="https://github.com/mayankaggarwal"
        target="_blank"
        rel="noopener"
        (click)="trackGithubLinkClick()"
      >
        GitHub
      </a>
    </div>
  </div>
</footer>
